html, body,
div, p, ul, ol, li,
span, a, b, i, u, s, br,
img, svg,
form, label,
h1, h2, h3, h4, h5, h6,
input, textarea, select, button{
  margin: 0;
  font-family: inherit;
  box-sizing: border-box;
  line-height: 1.6;
  word-break: break-word; word-wrap: anywhere;
  overflow-wrap: anywhere;
  scroll-behavior: smooth;
  -moz-text-size-adjust: none; -webkit-text-size-adjust: none; text-size-adjust: none;
}
html, body,
div, p, ul, ol, li,
span, a, b, i, u, s, br,
img, svg,
form, label,
input, textarea, select, button{
  font-size: inherit;
}
html, body,
div, p, ul, ol, li,
span, a, b, i, u, s, br,
img, svg,
form, label,
h1, h2, h3, h4, h5, h6{
  padding: 0;
  border: 0;
}
body{
  --cmn-font-color: hsl(0, 0%, 30%);
  --p-margin-block: 1em;
  font-family: serif;
  font-size: 18px;
  color: var(--cmn-font-color);
}
a[href]{ color: hsl(220, 100%, 50%); }
a[href]:hover{ color: hsl(120, 100%, 20%); }
a[href]:active{ color: hsl(0, 100%, 45%); }
p{
  margin: var(--p-margin-block) 0; margin-block-start: var(--p-margin-block); margin-block-end: var(--p-margin-block); /* フォールバック */
  margin-block: var(--p-margin-block);
}
/* 要素はみ出し防止 */
img, input, textarea, select{ max-width: 100%; }

/* リストの初期設定 */
ul, ol{ padding-inline-start: 1.5em; }
ul{ list-style: square; }
