.main{
  margin: auto;
  padding: 10px;
  max-width: 800px;
}
.title{ font-size: 30px; }
.sentence-display{
  display: grid;
  margin: 10px 0;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.input-areas{
  display: flex;
  flex-wrap: wrap;
}
.input-area{ margin: 0 20px 10px 0; }
@media(max-width: 500px){
  .sentence-display{
    grid-template-columns: 1fr;
  }
}
.sentence-txt-elem, .replaced-txt-elem{
  height: 200px;
  resize: vertical;
}
.before-txt, .after-txt{ width: 110px; }
.add-input-area{ margin-bottom: 10px; }
.exec-replace{
  display: block;
  /*▼ CSSリセット */
  -moz-appearance: none; -webkit-appearance: none; appearance: none;
  border-radius: 8px;
  border: 0;
  /*▲ CSSリセット */
  padding: 8px 16px;
  background-color: hsl(210, 100%, 50%);
  color: white;
  cursor: pointer;
}
.exec-replace:hover{ opacity: .8; }